USE [master]
GO
/****** Object:  Database [Jewelery]    Script Date: 01.04.2023 16:46:06 ******/
CREATE DATABASE [Jewelery]
GO
USE [Jewelery]
GO
/****** Object:  Table [dbo].[Продукция]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продукция](
	[Артикул] [nvarchar](50) NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[Единица_измерения] [tinyint] NOT NULL,
	[Стоимость] [decimal](18, 2) NOT NULL,
	[Размер_максимально_возможной_скидки] [tinyint] NOT NULL,
	[Производитель] [tinyint] NOT NULL,
	[Поставщик] [tinyint] NOT NULL,
	[Категория_товара] [tinyint] NOT NULL,
	[Действующая_скидка] [tinyint] NOT NULL,
	[Кол_во_на_складе] [tinyint] NOT NULL,
	[Описание] [nvarchar](100) NOT NULL,
	[Изображение] [nvarchar](50) NULL,
 CONSTRAINT [PK_Продукция] PRIMARY KEY CLUSTERED 
(
	[Артикул] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Категории]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категории](
	[Код] [tinyint] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Категории] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_ProdutsDetails]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_ProdutsDetails]
AS
SELECT        p.Артикул, p.Наименование, p.Кол_во_на_складе AS Количество_на_складе, p.Стоимость, p.Размер_максимально_возможной_скидки AS Максимальная_скидка, p.Действующая_скидка, 
                         k.Наименование AS Категория_товара, SUBSTRING(p.Описание, 0, 70) AS 'Описание'
FROM            dbo.Продукция AS p INNER JOIN
                         dbo.Категории AS k ON p.Категория_товара = k.Код
WHERE        (p.Кол_во_на_складе > 3)
GO
/****** Object:  Table [dbo].[Поставщики]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поставщики](
	[Код] [tinyint] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[Юрид_адрес] [nvarchar](250) NULL,
	[ИНН] [nvarchar](50) NULL,
	[КПП] [nvarchar](50) NULL,
	[ФИО_директора] [nvarchar](250) NULL,
	[Телефон] [nvarchar](20) NULL,
	[Почта] [nvarchar](50) NULL,
 CONSTRAINT [PK_Поставщики] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Производители]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Производители](
	[Код] [tinyint] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Производители] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_ProductList]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_ProductList]
AS
SELECT        dbo.Продукция.Артикул, dbo.Продукция.Наименование, dbo.Продукция.Единица_измерения, dbo.Продукция.Стоимость, dbo.Продукция.Размер_максимально_возможной_скидки, dbo.Продукция.Производитель, 
                         dbo.Производители.Наименование AS Наименование_производителя, dbo.Продукция.Поставщик, dbo.Поставщики.Наименование AS Наименование_поставщика, dbo.Продукция.Категория_товара, 
                         dbo.Категории.Наименование AS Наименование_категории, dbo.Продукция.Действующая_скидка, dbo.Продукция.Кол_во_на_складе, dbo.Продукция.Описание, dbo.Продукция.Изображение
FROM            dbo.Категории INNER JOIN
                         dbo.Продукция ON dbo.Категории.Код = dbo.Продукция.Категория_товара INNER JOIN
                         dbo.Поставщики ON dbo.Продукция.Поставщик = dbo.Поставщики.Код INNER JOIN
                         dbo.Производители ON dbo.Продукция.Производитель = dbo.Производители.Код
GO
/****** Object:  Table [dbo].[Единицы_измерения]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Единицы_измерения](
	[Код] [tinyint] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Единицы_измерения] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Код] [tinyint] IDENTITY(1,1) NOT NULL,
	[Дата_заказа] [date] NOT NULL,
	[Дата_доставки] [date] NOT NULL,
	[Пункт_выдачи] [tinyint] NOT NULL,
	[Код_клиента] [tinyint] NULL,
	[Код_для_получения] [tinyint] NOT NULL,
	[Статус_заказа] [tinyint] NOT NULL,
	[Стоимость] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[Код] [tinyint] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](50) NOT NULL,
	[Роль] [tinyint] NOT NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пункты_выдачи]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пункты_выдачи](
	[Код] [tinyint] NOT NULL,
	[Индекс] [nvarchar](50) NOT NULL,
	[Адрес] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Пункты_выдачи] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[Код] [tinyint] IDENTITY(1,1) NOT NULL,
	[Роль] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Состав_заказов]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Состав_заказов](
	[Номер] [tinyint] IDENTITY(1,1) NOT NULL,
	[Номер_заказа] [tinyint] NOT NULL,
	[Артикул_продукции] [nvarchar](50) NOT NULL,
	[Количество] [tinyint] NOT NULL,
 CONSTRAINT [PK_Состав_заказов] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статусы]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статусы](
	[Код] [tinyint] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Статусы] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Единицы_измерения] ON 

INSERT [dbo].[Единицы_измерения] ([Код], [Наименование]) VALUES (1, N'шт.')
SET IDENTITY_INSERT [dbo].[Единицы_измерения] OFF
GO
SET IDENTITY_INSERT [dbo].[Заказы] ON 

INSERT [dbo].[Заказы] ([Код], [Дата_заказа], [Дата_доставки], [Пункт_выдачи], [Код_клиента], [Код_для_получения], [Статус_заказа], [Стоимость]) VALUES (1, CAST(N'2022-05-01' AS Date), CAST(N'2022-05-07' AS Date), 2, NULL, 111, 1, NULL)
INSERT [dbo].[Заказы] ([Код], [Дата_заказа], [Дата_доставки], [Пункт_выдачи], [Код_клиента], [Код_для_получения], [Статус_заказа], [Стоимость]) VALUES (2, CAST(N'2022-05-02' AS Date), CAST(N'2022-05-08' AS Date), 8, NULL, 112, 1, NULL)
INSERT [dbo].[Заказы] ([Код], [Дата_заказа], [Дата_доставки], [Пункт_выдачи], [Код_клиента], [Код_для_получения], [Статус_заказа], [Стоимость]) VALUES (3, CAST(N'2022-05-03' AS Date), CAST(N'2022-05-09' AS Date), 10, NULL, 113, 1, NULL)
SET IDENTITY_INSERT [dbo].[Заказы] OFF
GO
SET IDENTITY_INSERT [dbo].[Категории] ON 

INSERT [dbo].[Категории] ([Код], [Наименование]) VALUES (1, N'Ароматы для дома')
INSERT [dbo].[Категории] ([Код], [Наименование]) VALUES (2, N'Вазы')
INSERT [dbo].[Категории] ([Код], [Наименование]) VALUES (3, N'Свечи')
SET IDENTITY_INSERT [dbo].[Категории] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([Код], [Фамилия], [Имя], [Отчество], [Логин], [Пароль], [Роль]) VALUES (1, N'Алексеев ', N'Владислав', N'Аркадьевич', N'loginDEbct2018', N'Qg3gff', 2)
INSERT [dbo].[Пользователи] ([Код], [Фамилия], [Имя], [Отчество], [Логин], [Пароль], [Роль]) VALUES (2, N'Савельева ', N'Евфросиния', N'Арсеньевна', N'loginDEvtg2018', N'ETMNzL', 3)
INSERT [dbo].[Пользователи] ([Код], [Фамилия], [Имя], [Отчество], [Логин], [Пароль], [Роль]) VALUES (3, N'Никонов ', N'Мэлс', N'Лукьевич', N'loginDEuro2018', N'a1MIcO', 2)
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[Поставщики] ON 

INSERT [dbo].[Поставщики] ([Код], [Наименование], [Юрид_адрес], [ИНН], [КПП], [ФИО_директора], [Телефон], [Почта]) VALUES (1, N'Стокманн', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Поставщики] ([Код], [Наименование], [Юрид_адрес], [ИНН], [КПП], [ФИО_директора], [Телефон], [Почта]) VALUES (2, N'Hoff', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Поставщики] OFF
GO
INSERT [dbo].[Продукция] ([Артикул], [Наименование], [Единица_измерения], [Стоимость], [Размер_максимально_возможной_скидки], [Производитель], [Поставщик], [Категория_товара], [Действующая_скидка], [Кол_во_на_складе], [Описание], [Изображение]) VALUES (N'B025Y5', N'Блюдо', 1, CAST(1890.00 AS Decimal(18, 2)), 5, 2, 1, 8, 3, 8, N'Блюдо декоративное flower 35 см Home Philosophy', NULL)
INSERT [dbo].[Продукция] ([Артикул], [Наименование], [Единица_измерения], [Стоимость], [Размер_максимально_возможной_скидки], [Производитель], [Поставщик], [Категория_товара], [Действующая_скидка], [Кол_во_на_складе], [Описание], [Изображение]) VALUES (N'B037T5', N'Блюдо', 1, CAST(690.00 AS Decimal(18, 2)), 5, 2, 1, 8, 2, 14, N'Блюдо декоративное Flower 35 см', NULL)
INSERT [dbo].[Продукция] ([Артикул], [Наименование], [Единица_измерения], [Стоимость], [Размер_максимально_возможной_скидки], [Производитель], [Поставщик], [Категория_товара], [Действующая_скидка], [Кол_во_на_складе], [Описание], [Изображение]) VALUES (N'D034T5', N'Диффузор', 1, CAST(800.00 AS Decimal(18, 2)), 20, 8, 2, 1, 2, 15, N'Диффузор Mikado intense Апельсин с корицей', N'D034T5.jpg')
GO
SET IDENTITY_INSERT [dbo].[Производители] ON 

INSERT [dbo].[Производители] ([Код], [Наименование]) VALUES (1, N'Esteban')
INSERT [dbo].[Производители] ([Код], [Наименование]) VALUES (2, N'Home Philosophy')
INSERT [dbo].[Производители] ([Код], [Наименование]) VALUES (3, N'Весна')
SET IDENTITY_INSERT [dbo].[Производители] OFF
GO
INSERT [dbo].[Пункты_выдачи] ([Код], [Индекс], [Адрес]) VALUES (1, N'614164', N'г.Ковров,  ул. Степная, 30')
INSERT [dbo].[Пункты_выдачи] ([Код], [Индекс], [Адрес]) VALUES (2, N'394242', N'г. Ковров, ул. Коммунистическая, 43')
INSERT [dbo].[Пункты_выдачи] ([Код], [Индекс], [Адрес]) VALUES (3, N'660540', N'г. Ковров, ул. Солнечная, 25')
GO
SET IDENTITY_INSERT [dbo].[Роли] ON 

INSERT [dbo].[Роли] ([Код], [Роль]) VALUES (1, N'Менеджер')
INSERT [dbo].[Роли] ([Код], [Роль]) VALUES (2, N'Клиент')
INSERT [dbo].[Роли] ([Код], [Роль]) VALUES (3, N'Администратор')
SET IDENTITY_INSERT [dbo].[Роли] OFF
GO
SET IDENTITY_INSERT [dbo].[Состав_заказов] ON 

INSERT [dbo].[Состав_заказов] ([Номер], [Номер_заказа], [Артикул_продукции], [Количество]) VALUES (1, 1, N'K478R4', 10)
INSERT [dbo].[Состав_заказов] ([Номер], [Номер_заказа], [Артикул_продукции], [Количество]) VALUES (2, 1, N'F933T5', 5)
INSERT [dbo].[Состав_заказов] ([Номер], [Номер_заказа], [Артикул_продукции], [Количество]) VALUES (3, 2, N'S563T4', 2)
SET IDENTITY_INSERT [dbo].[Состав_заказов] OFF
GO
SET IDENTITY_INSERT [dbo].[Статусы] ON 

INSERT [dbo].[Статусы] ([Код], [Наименование]) VALUES (1, N'Новый ')
INSERT [dbo].[Статусы] ([Код], [Наименование]) VALUES (2, N'Завершен')
SET IDENTITY_INSERT [dbo].[Статусы] OFF
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Пользователи] FOREIGN KEY([Код_клиента])
REFERENCES [dbo].[Пользователи] ([Код])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Пользователи]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Пункты_выдачи] FOREIGN KEY([Пункт_выдачи])
REFERENCES [dbo].[Пункты_выдачи] ([Код])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Пункты_выдачи]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Статусы] FOREIGN KEY([Статус_заказа])
REFERENCES [dbo].[Статусы] ([Код])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Статусы]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Роли] FOREIGN KEY([Роль])
REFERENCES [dbo].[Роли] ([Код])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Роли]
GO
ALTER TABLE [dbo].[Продукция]  WITH CHECK ADD  CONSTRAINT [FK_Продукция_Единицы_измерения] FOREIGN KEY([Единица_измерения])
REFERENCES [dbo].[Единицы_измерения] ([Код])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Продукция] CHECK CONSTRAINT [FK_Продукция_Единицы_измерения]
GO
ALTER TABLE [dbo].[Продукция]  WITH CHECK ADD  CONSTRAINT [FK_Продукция_Категории] FOREIGN KEY([Категория_товара])
REFERENCES [dbo].[Категории] ([Код])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Продукция] CHECK CONSTRAINT [FK_Продукция_Категории]
GO
ALTER TABLE [dbo].[Продукция]  WITH CHECK ADD  CONSTRAINT [FK_Продукция_Поставщики] FOREIGN KEY([Поставщик])
REFERENCES [dbo].[Поставщики] ([Код])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Продукция] CHECK CONSTRAINT [FK_Продукция_Поставщики]
GO
ALTER TABLE [dbo].[Продукция]  WITH CHECK ADD  CONSTRAINT [FK_Продукция_Производители] FOREIGN KEY([Производитель])
REFERENCES [dbo].[Производители] ([Код])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Продукция] CHECK CONSTRAINT [FK_Продукция_Производители]
GO
ALTER TABLE [dbo].[Состав_заказов]  WITH CHECK ADD  CONSTRAINT [FK_Состав_заказов_Заказы] FOREIGN KEY([Номер_заказа])
REFERENCES [dbo].[Заказы] ([Код])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Состав_заказов] CHECK CONSTRAINT [FK_Состав_заказов_Заказы]
GO
ALTER TABLE [dbo].[Состав_заказов]  WITH CHECK ADD  CONSTRAINT [FK_Состав_заказов_Продукция] FOREIGN KEY([Артикул_продукции])
REFERENCES [dbo].[Продукция] ([Артикул])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Состав_заказов] CHECK CONSTRAINT [FK_Состав_заказов_Продукция]
GO
/****** Object:  Trigger [dbo].[TR_Продукция_AfterUpdate]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[TR_Продукция_AfterUpdate]
on [dbo].[Продукция]
after update
as
Update [dbo].[Заказы]
Set [Стоимость] = 
(
	select sum(s.Количество * p.Стоимость)
	from [dbo].[Состав_заказов] as s inner join [dbo].[Продукция] as p on s.Артикул_продукции = p.Артикул
	where s.Номер_заказа in
	(
		Select z.Код
		--from ([dbo].[Заказы] as z inner join [dbo].[Состав_заказов] as sost on z.Код = sost.Номер_заказа)
		--where sost.Артикул_продукции = 'D826T5'
		from ([dbo].[Заказы] as z inner join [dbo].[Состав_заказов] as sost on z.Код = sost.Номер_заказа) inner join inserted as i on sost.Артикул_продукции = i.Артикул
	)
	and
	[Код] = s.Номер_заказа
	--group by s.Номер_заказа
)

GO
ALTER TABLE [dbo].[Продукция] ENABLE TRIGGER [TR_Продукция_AfterUpdate]
GO
/****** Object:  Trigger [dbo].[TR_Состав_заказов_AfterInsert]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[TR_Состав_заказов_AfterInsert]
on [dbo].[Состав_заказов]
after insert
as
Update [dbo].[Заказы]
Set [Стоимость] = 
(
	select sum(s.Количество * p.Стоимость)
	from [dbo].[Состав_заказов] as s inner join [dbo].[Продукция] as p on s.Артикул_продукции = p.Артикул
	where s.Номер_заказа =
	(
		select i.Номер_заказа
		from inserted as i
	)
)
where [Код] = 
	(
		select i.Номер_заказа
		from inserted as i
	)
GO
ALTER TABLE [dbo].[Состав_заказов] ENABLE TRIGGER [TR_Состав_заказов_AfterInsert]
GO
/****** Object:  Trigger [dbo].[TR_Состав_заказов_AfterUpdate]    Script Date: 01.04.2023 16:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[TR_Состав_заказов_AfterUpdate]
on [dbo].[Состав_заказов]
after update
as
Update [dbo].[Заказы]
Set [Стоимость] = 
(
	select sum(s.Количество * p.Стоимость)
	from [dbo].[Состав_заказов] as s inner join [dbo].[Продукция] as p on s.Артикул_продукции = p.Артикул
	where s.Номер_заказа =
	(
		select i.Номер_заказа
		from inserted as i
	)
)
where [Код] = 
	(
		select i.Номер_заказа
		from inserted as i
	)
GO
ALTER TABLE [dbo].[Состав_заказов] ENABLE TRIGGER [TR_Состав_заказов_AfterUpdate]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Категории"
            Begin Extent = 
               Top = 23
               Left = 22
               Bottom = 119
               Right = 196
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Поставщики"
            Begin Extent = 
               Top = 162
               Left = 233
               Bottom = 292
               Right = 411
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Продукция"
            Begin Extent = 
               Top = 127
               Left = 523
               Bottom = 257
               Right = 845
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "Производители"
            Begin Extent = 
               Top = 149
               Left = 987
               Bottom = 245
               Right = 1161
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_ProductList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_ProductList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "p"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 360
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "k"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 234
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_ProdutsDetails'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_ProdutsDetails'
GO
USE [master]
GO
